
.machinelearning {
    background-image: url("../images/ml2.jpg");
    height: 32vh;
    width: 79vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20%;
    margin-left: 17%;
}

.bg-color-index {
    background-color: black;
    height: 100vh;
}

.main-text {
    font-family: 'Noto Serif', serif;
    color: white;
    font-size: xxx-large;
    margin-top: 0;
}

.main-desc {
    padding: 0;
}


.python {
    text-shadow:1px 1px 10px limegreen, 1px 1px 10px limegreen;
    color: #22c722;
}

.javascript {
    text-shadow:1px 1px 10px #FFEB3B, 1px 1px 10px #FFEB3B;
    color: #FFEB3B;
}

.css3 {
    text-shadow:1px 1px 10px #2196F3, 1px 1px 10px #2196F3;
    color: #2196F3;
}

.html5 {
    text-shadow:1px 1px 10px #ff5722, 1px 1px 10px #ff5722;
    color: #ff5722;
}

.django {
    text-shadow:1px 1px 10px #4caf50, 1px 1px 10px #4caf50;
    color: #4caf50;
}

.postgresql {
    text-shadow:1px 1px 10px #1976d2, 1px 1px 10px #1976d2;
    color: #1976d2;
}

.mongodb {
    text-shadow: 1px 1px 10px #c1bebc, 1px 1px 10px #c1bebc;
    color: #e8e7d5;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Noto Serif', serif;
    color: white;
}

.learnmore {
    margin-top: 31%;
    color: #ffffff8c;
    margin-left: 47%;
}

.material-icons {
    margin-top: -3%;
    margin-left: 55%;
}


.skills::before {
    content: '';
    -webkit-text-security: disc;
}

.skills::after:hover {
    display: inline;
    transition-duration: 1000;
}


.machinelearning {
    animation-name: machinelearning;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: inherit;
    
}
.text-block {
    margin-top: 80px;
}

.one {
    text-shadow: 1px 1px 2px #1e6723, 0 0 20px #4CAF50, 0 0 5px #2E7D32;
}

.two {text-shadow: 0 0 2px #2196F3, 0 0 5px #3F51B5, 0 0 10px #fff, 0 0 15px #228DFF;}

@keyframes machinelearning {
    0% {
        opacity: 85%;
        }
    50% {opacity: 86%;}
    90% {opacity: 89%;
        filter: none;}    
    100% {
        opacity: 100%;
        filter: sepia(0.7);
    }
}

@keyframes test {
    0%   {left: 220px; top: 105px;}
    30%  {left: 260px; top: 1px;}
    40%  {height:11px;
          width: 2px;}
    60%  {background-color: white; left: 260px; top: -210px;
            width: 1px;
            height: 1px;}
    100% {opacity: 0%;
          width: 0px;
          height: 0px;}        
}


.test {
    width: 5px;
    height: 1px;
    position: absolute;
    background-color: white;
    animation-name: test;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 90px;
}


@keyframes dot-css {
    0%   {left: 220px; top: 120px; opacity: 90%;}
    30%  {left: 196px; top: 120px; opacity: 70%;}
    40%  {top: 30px; opacity: 60%;}
    50%  {left: 196px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-css {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-css;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #228DFF;
    text-shadow: 0 0 1px #2196F3, 0 0 2px #3F51B5, 0 0 3px #fff, 0 0 3px #228DFF;
}


@keyframes dot-javascript {
    0%   {left: 217px; top: 97px; opacity: 90%;}
    30%  {left: 196px; top: 97px; opacity: 70%;}
    40%  {top: 30px; opacity: 60%;}
    50%  {left: 196px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-javascript {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-javascript;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #FDD835;
    text-shadow: 0 0 1px #FDD835, 0 0 2px #FFEB3B, 0 0 3px #fff, 0 0 3px #FBC02D;
}


@keyframes dot-html {
    0%   {left: 217px; top: 145px; opacity: 90%;}
    30%  {left: 196px; top: 145px; opacity: 70%;}
    40%  {top: 30px; opacity: 60%;}
    50%  {left: 196px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-html {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-html;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #ff5722;
    text-shadow: 0 0 1px #FF5722, 0 0 2px #F4511E, 0 0 3px #fff, 0 0 3px #D84315;
}


@keyframes dot-python {
    0%   {left: 217px; top: 73px; opacity: 90%;}
    30%  {left: 196px; top: 73px; opacity: 70%;}
    40%  {top: 30px; opacity: 60%;}
    50%  {left: 196px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-python {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    color: limegreen;
    animation-name: dot-python;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    text-shadow: 0 0 1px #00da09, 0 0 2px #0df117, 0 0 3px #fff, 0 0 3px #89ff00;

}


@keyframes dot-postgre {
    0%   {left: 377px; top: 73px; opacity: 90%;}
    30%  {left: 400px; top: 73px; opacity: 70%;}
    40%  {left: 400px; top: 30px; opacity: 60%;}
    50%  {left: 400px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-postgre {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-postgre;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #3F51B5;
    text-shadow: 0 0 1px #3F51B5, 0 0 2px #1976D2, 0 0 3px #fff, 0 0 3px #0D47A1;
}



@keyframes dot-mongo {
    0%   {left: 377px; top: 100px; opacity: 90%;}
    30%  {left: 400px; top: 100px; opacity: 70%;}
    40%  {left: 400px; top: 30px; opacity: 60%;}
    50%  {left: 400px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-mongo {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-mongo;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #9E9E9E;
    text-shadow: 0 0 1px #9E9E9E, 0 0 2px #607D8B, 0 0 3px #fff, 0 0 3px #90A4AE;
}



@keyframes dot-django {
    0%   {left: 355px; top: 120px; opacity: 90%;}
    25%  {left: 400px; top: 120px; opacity: 70%;}
    40%  {left: 400px; top: 30px; opacity: 60%;}
    50%  {left: 400px; opacity: 50%;}
    60%  {left: 270px; opacity: 40%;}
    70%  {top: 29px; left: 270px; opacity: 30%;}
    100% {top: -202px; left: 270px; opacity: 1%;}        
}


.dot-django {
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    font-size: 26px;
    background-color: white;
    animation-name: dot-django;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    color: #1B5E20;
    text-shadow: 0 0 1px #1B5E20, 0 0 2px #4CAF50, 0 0 3px #fff, 0 0 3px #009688;
}



.bg-gray {
    background-color: #222;
    height: 100vh;
}






@media all and (min-width: 1024px) { 
    
    .learnmore {
        margin-top:77%;
    }

    .machinelearning {
        height: 86vh;
        width: 86vw;
        background-position: right;
        background-repeat: no-repeat;
        position: absolute;
        background-size: contain;
        margin: 0px 50px auto;
    }

    }