.masthead {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: 50%;
    position: relative;
    color:white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

h1 {
    font-size: 3rem;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}



.vcenter-item{
    display: flex;
    align-items: center;
}
/* Some custom styles to beautify this example */
.wrapper{
    min-height: 100vh;
    padding-bottom: 8rem;
}

.bg_filter {
  height: 100vh;
  background:rgb(0 0 0 / 65%);
  animation-name: bg_filter;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* @keyframes bg_filter {
  20% {
    background-color: rgba(0, 0, 0, 0.560);
  }
  40% {
    background-color: rgba(0, 0, 0, 0.550);
  }
  60% {
    background-color: rgba(0, 0, 0, 0.510);
  }
  80% {
    background-color: rgba(0, 0, 0, 0.500);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.430);
  }
  
} */



.colorall {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000b8;
}

.name_box {
  margin-top: 3rem;
  position: absolute;
  width: auto;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.buttons_container {
  margin-top: 12rem;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(9, 68, 22); */
  text-align: center;
}


.effects_container {
  /* background: rgba(0, 0, 0, 0.733); */
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(9, 68, 22); */
  text-align: center;
}

.filter_container {
  /* background: rgba(0, 0, 0, 0.3); */
  height: 100vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(9, 68, 22); */
  text-align: center;
}

span {
  position: absolute;
  /* width: calc(100% - 100px * var(--size)); */
  /* height: calc(100% - 100px * var(--size)); */
  animation: anim .8s infinite;
  /* border: 2px solid #0ff; */
  border-radius: 50%;
}




@keyframes anim {
  0% {
    transform: rotate(45deg);
    left: -50%;
    transform: scale(0)
  }
  10% {
    transform: rotate(45deg);
    left: 16%;

  }
  30% {
    transform: rotate(45deg);
    transform: scale(2);
    left: 30%;
  }
  50% {
    transform: rotate(45deg);
    left: 40%;

  }
  80% {
    transform: rotate(45deg);
    transform: scale(20);
  }
  100% {
    transform: rotate(45deg);

    left: 100%;
  }
}



/* @keyframes anim {
  0% {
    left: 1%;
  }
  50% {
    left: 1%;
  }
  100% {
    left: 100%;
  }
} */


span::before{
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: -10px;
  background: var(--color);
  border-radius: 50%;
  box-shadow: 0px 0px 1px 2px rgba(0, 255, 255, .1),
  0px 0px 1px 4px rgba(0, 255, 255, .1),
  0px 0px 1px 6px rgba(0, 255, 255, .1);
}



span:nth-child(2)::before {
  box-shadow: 0px 0px 2px 5px rgba(0, 255, 0, .1),
  0px 0px 1px 4px rgba(0, 255, 0, .1),
  0px 0px 1px 6px rgba(0, 255, 0, .1);
}

span:nth-child(3)::before {
  box-shadow: 0px 0px 2px 5px rgba(255, 0, 255, .1),
  0px 0px 1px 4px rgba(255, 0, 255, .1),
  0px 0px 1px 6px rgba(255, 0, 255, .1);
}

span:nth-child(4)::before {
  box-shadow: 0px 0px 2px 5px rgba(255, 0, 0, .1),
  0px 0px 1px 4px rgba(255, 0, 0, .1),
  0px 0px 1px 6px rgba(255, 0, 0, .1);
}

span:nth-child(5)::before {
  box-shadow: 0px 0px 2px 5px rgba(255, 255, 0, .1),
  0px 0px 1px 4px rgba(255, 255, 0, .1),
  0px 0px 1px 6px rgba(255, 255, 0, .1);
}


span:nth-child(1) {
  animation-duration: 30s;
}

span:nth-child(2) {
  animation-duration: 20s;
  padding: 9px;
  animation-direction: alternate;
}

span:nth-child(3) {
  padding: 19px;
  animation-direction:normal;
  animation-duration: 17s;
}
span:nth-child(4) {
  padding: 29px;
  animation-duration: 10s;
  animation-direction: reverse;
}
span:nth-child(5) {
  padding: 39px;
  animation-duration: 18.8s;
  animation-direction: alternate-reverse;
}



.box1 {
  position: absolute;

  height: 100px;
  width: 100px;
  border: 1px solid yellow;
}

.box2 {
  position: relative;
  
  height: 50px;
  width: 50px;
  border: 1px solid red;
}



/* Testing containers for a stable ground to start with to properly align items inside */

.main-container {
  height: 100vh;
}




.cool_effects {
  margin-top: 22rem;
  position: absolute;
  width: 4rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellowgreen;
}


.cool_effects button {
  white-space: nowrap;
  text-align: center;
}


/* Darker filter on top of bg image & below main content so animations can be under filter */
.effects_container2 {
  background: rgba(0, 0, 0, 0.644);
  height: 100vh;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(9, 68, 22); */
  text-align: center;
}

.effects_container3 {
  height: 50vh;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}