{% extends 'main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row bg-color-index">
        <div class="col-md-12 col-xs-12">
            <div class="machinelearning img-responsive"></div>
        </div>
        <div class="col-xs-12">
        <div class="col-md-6 col-xs-6">
            <h2 class="text-center main-text">Patrik Solis</h2>
            <h3 class="text-center main-desc">Full-stack Web Developer</h3>
        </div>
        <div class="col-xs-3 text-block">
            <h6 class="python">Python</h6>
            <h6 class="javascript">JavaScript</h6>
            <h6 class="css3">CSS3</h6>
            <h6 class="html5">HTML5</h6>
        </div>
        <div class="dot-css">.</div>
        <div class="dot-javascript">.</div>
        <div class="dot-python">.</div>
        <div class="dot-html">.</div>
        <div class="dot-postgre">.</div>
        <div class="dot-mongo">.</div>
        <div class="dot-django">.</div>
        <div class="col-xs-3 text-block">
            <h6 class="postgresql">PostgreSQL</h6>
            <h6 class="mongodb">MongoDB</h6>
            <h6 class="django">Django</h6>
        </div>
    </div>
        <div class="container">
            <p class="col-xs-4 col-xs-pull-1 center-block learnmore">Learn more</p>
            <i class="col-xs-4 col-xs-pull-1 material-icons">
                keyboard_arrow_down
                </i>
        </div>
   </div>
   <div class="row bg-gray">
       <div>
           <div class="col-xs-6 text-right">
                    <h1>ONE</h1>            
            </div>
            <div class="col-xs-6 text-left">
                <h1>TWO</h1>            
        </div>
       </div>
       
   </div>
</div>

{% endblock %}