{% extends 'main.html' %}
{%  load static %}
{% block content %}


<div class="">
    <div class="">

        <div class="masthead" style="background-image: url('static/images/bg_5.jpg');">
          <div class="container">
            <div class="row main-container">
              <div class="bg_filter col d-flex justify-content-center" style="border:1px solid darkorange";>
                This will be the main container for contents
                
                <div class="center">
                  <div class="row align-items-center justify-content-center">
                    <div class="">
                      <h1>Patrik Solis</h1>
                      <h3>Full-stack web developer.</h3>
                  </div>

                  <!-- <span style="--size:1; --color:#0ff;"></span>
                  <span style="--size:2; --color:#0f0;"></span>
                  <span style="--size:3; --color:#f0f;"></span>
                  <span style="--size:4; --color:#ff0000;"></span>
                  <span style="--size:5; --color:#ffff00;"></span> -->
                </div>
              </div>


              <div class="main_buttons">
                <div class="row align-items-center justify-content-center">
                  <div class="col">
                    <button type="button" class="btn btn-outline-warning">View Projects</button>
                  </div>
                  <div class="col">
                    <button type="button" class="btn btn-outline-warning">About</button>
                  </div>
                  <div class="col">
                  <button type="button" class="btn btn-outline-warning">Resume</button>
                  </div>
              </div>
            </div>
            </div>
          </div>


        </div>


        <div class="color-overlay colorall d-flex justify-content-center align-items-center"></div>
        <div class="container">
            <div class="row">
              <div class="col d-flex justify-content-start align-items-start">
                <div class="wrapper vcenter-item">
                    <div class="box">
                        <h2>Patrik Solis</h2>
                        <h3>Full-stack web developer.</h3>
                    </div>
                    <!-- <div class="center">
                      <span style="--size:1; --color:#0ff;"></span>
                      <span style="--size:2; --color:#0f0;"></span>
                      <span style="--size:3; --color:#f0f;"></span>
                      <span style="--size:4; --color:#ff0000;"></span>
                      <span style="--size:5; --color:#ffff00;"></span>
                    </div> -->
                    <div class="d-flex justify-content-center flex-nowrap">
                   </div>

                </div>
              </div>
            </div>
            
          </div>
    </div>
</div>



{% endblock %}