{% extends 'main.html' %}
{%  load static %}
{% block content %}



<!-- <div class="container" style="border:1px solid rgb(0, 81, 255)";>
  <div class="row">
    <div class="col-sm-6 col-md-4" style="border:1px solid darkorange";>
      <h1>hello</h1>
    </div>
    <div class="col-sm-6 col-md-4" style="border:1px solid darkorange";>
      <h1>hello</h1>
    </div>
    <div class="col-sm-6 col-md-4" style="border:1px solid darkorange";>
      <h1>hello</h1>
    </div>
  </div>
</div> -->
<div class="">
    <div class="">

        <div class="masthead" style="background-image: url('static/images/bg_5.jpg');">
          
          <div class="container">
            
            <div class="row main-container">
              <div class="bg_filter col d-flex justify-content-center" style="border:1px solid darkorange";>
                
                <div class="center">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="">
                      <h1>Patrik Solis</h1>
                      <h3>Full-stack web developer.</h3>
                  </div>
                </div>
              </div>

              <!-- Buttons container for main page -->

              <div class="container buttons_container">
                <div class="row">
                  <div class="col-lg-4 pt-4" ><button type="button" class="btn btn-outline-warning">Projects</button></div>
                  <div class="col-lg-4 pt-4" ><button type="button" class="btn btn-outline-warning">About</button></div>
                  <div class="col-lg-4 pt-4" ><button type="button" class="btn btn-outline-warning">Resume</button></div>
                </div>
              </div>


             <div class="cool_effects">
              <div class="row align-items-center justify-content-center">
                  <div class="col-12">
                    <span style="--size:2; --color:#0ff;"></span>
                    <span style="--size:3; --color:#0f0;"></span>
                    <span style="--size:4; --color:#f0f;"></span>
                    <span style="--size:5; --color:#ff0000;"></span>
                    <span style="--size:6; --color:#ffff00;"></span>
                  </div>
              </div>
           </div>


            </div>
          </div>


        </div>
    </div>
</div>



{% endblock %}